[buildout]
eggs-directory = {{ ansible_env.HOME }}/.buildout/eggs
download-cache = {{ ansible_env.HOME }}/.buildout/downloads
extends-cache = {{ ansible_env.HOME }}/.buildout/extends

socket-timeout = 3

